.content {
  text-align: center;
  background: #ffffff;
  box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
  border-radius: 0 10px 10px 10px;
  padding-bottom: 15px;
}

.formAddUser {
  margin: 0 auto;
  margin-bottom: 20px;
}

.rollingRetention {
  margin: 0 auto;
}

.error {
  color: #ff0000;
}
